@font-face {
  font-family: Great_Vibes;
  src: url(GreatVibes-Regular.ttf);
}

@font-face {
  font-family: Kalam-Bold;
  src: url(Kalam-Bold.ttf);
}

@font-face {
  font-family: Kalam-Regular;
  src: url(Kalam-Regular.ttf);
}

@font-face {
  font-family: RobotoCondensed-Regular
  src: url(RobotoCondensed-Regular.ttf);
}

@font-face {
  font-family: RobotoCondensed-Italic
  src: url(RobotoCondensed-Italic.ttf);
}

@font-face {
  font-family: RobotoCondensed-Bold
  src: url(RobotoCondensed-Bold.ttf);
}

@font-face {
  font-family: RobotoCondensed-BoldItalic
  src: url(RobotoCondensed-BoldItalic.ttf);
}
