@import "fonts.css";

table {
  margin: auto auto;
  border-spacing: 20px;
  border-collapse: separate;
  background-color: #fdfdfd;
  color: #000000;
  font-size: 16px;
}

table tr td {
  padding: 10px;
}

table td:first-child {
  border-right: 2px solid #000000;
}

td {
  padding: 20px;
  text-align: right;
}

a[data-toggle="collapse"] {
  position: fixed;
}

.menu-content-item {
  padding-bottom: 30px;
}

.menu-drops {
  padding: 30px 0px;
}

.section-header-title {
  margin: 0;
  padding: 100px 0;
  font-family: Kalam-Bold;
  font-size: 32px;
  color: #474747;
}

.section-header-title p {
  margin-bottom: 0;
}

.section-header-title#contact {
  color: #fdfdfd;
}

.button-contact {
  padding: 100px 0;
  text-align: center;
}

.button-source-code {
  margin-top: 60px;
}

.button-1 {
  padding: 12px 25px;
  height: 30px;
  border: none;
  border-radius: 90px;
  color: #fdfdfd;
  background: #3E1C49;
  text-decoration: none;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 1px;
  font-family: RobotoCondensed-Bold;
  box-shadow: 0 1px 5px 1px #0000004C;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

.button-1:hover {
  background: #56445B;
  text-decoration: none;
  color: #fdfdfd;
}

.button-resume {
  padding-top: 100px;
}

.button-2 {
  padding: 12px 25px;
  height: 30px;
  position: relative;
  z-index: 1;
  border: none;
  border-radius: 90px;
  color: #3E1C49;
  background: #fdfdfd;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 1px;
  font-family: RobotoCondensed-Bold;
  font-size: 22px;
  box-shadow: 0 1px 5px 1px #0000004C;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

.button-2:hover {
  background: #1FBBA6;
  text-decoration: none;
  color: #fdfdfd;
}

.button-view-full-design {
  padding-left: 100px;
  display: inline-block;
}

.button-3 {
  padding: 12px 25px;
  height: 30px;
  border: 2px solid #000;
  border-radius: 90px;
  color: #000;
  text-decoration: none;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 1px;
  font-family: RobotoCondensed-Bold;
  box-shadow: 0 1px 5px 1px #0000004C;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

.button-3:hover {
  background: #ECE8ED;
  border: 2px solid #3E1C49;
  text-decoration: none;
  color: #3E1C49;
}

@-moz-document url-prefix() {
  .button-1 {
    font-family: RobotoCondensed-Regular;
  }

  .button-2 {
    font-family: RobotoCondensed-Regular;
  }
}

.gradient-overlay {
  height: 100%;
  background-image: linear-gradient(to top right, transparent, #C4C4C400, #69696926);
}

.dev-corner-ribbon,
.design-corner-ribbon {
  position: relative;
  z-index: 1;
}

.dev-top-of-ribbon,
.design-top-of-ribbon {
  width: 150px;
  height: 116px;
  overflow: hidden;
  position: absolute;
}

.dev-top-of-ribbon::after,
.dev-top-of-ribbon::before,
.design-top-of-ribbon::after,
.design-top-of-ribbon::before {
  position: absolute;
  z-index: -1;
  content: '';
  border: 5px solid #2E5690;
}

.dev-top-of-ribbon span,
.design-top-of-ribbon span {
  position: absolute;
  width: 215px;
  padding: 5px 0;
  box-shadow: 0 1px 1px 1px #00000030;
  background: #56A4FF;
  font-family: RobotoCondensed-Regular;
  font-size: 12px;
  color: #fff;
  text-align: center;
}

.dev-ribbon-attributes {
  top: -9px;
  right: -11px;
}

.dev-ribbon-attributes::before {
  border-top-color: transparent;
  border-right-color: transparent;
  top: -1px;
  left: 32px;
}

.dev-ribbon-attributes::after {
  border-top-color: transparent;
  border-right-color: transparent;
  bottom: 0;
  right: 1px;
}

.dev-ribbon-attributes span {
  left: 2px;
  top: 21px;
  transform: rotate(45deg);
}

.design-ribbon-attributes {
  top: -9px;
  right: -11px;
}

.design-ribbon-attributes::before {
  border-top-color: transparent;
  border-right-color: transparent;
  top: -1px;
  left: 32px;
}

.design-ribbon-attributes::after {
  border-top-color: transparent;
  border-right-color: transparent;
  bottom: 0;
  right: 1px;
}

.design-ribbon-attributes span {
  left: 2px;
  top: 21px;
  transform: rotate(45deg);
}

.graph-wrap {
  margin: auto;
  padding-left: 0;
  padding-right: 0;
  max-width: 80%;
  height: 356px;
}

.design-graph-wrap {
  margin: auto;
  padding-left: 0;
  padding-right: 0;
  max-width: 80%;
  height: 200px;
}

.design {
  margin-top: 50px;
  position: relative;
}

.graph-bars {
  margin-top: 130px;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  border-left: 2px solid #000;
}

.bar {
  margin: 20px 0;
}

.design-graph-bars {
  position: relative;
  height: 198px;
  display: flex;
  flex-direction: column;
  border-left: 2px solid #000;
}

.graph-bars .bar {
  background-color: #3E1C49B2;
}

.design-graph-bars .bar {
  background-color: #1FBBA6D8;
}

.graph-bars .bar,
.design-graph-bars .bar {
  height: 36px;
  width: var(--bar-value);
  align-self: flex-start;
}

.line {
  height: 356px;
  border-left: 2px dashed #000000;
}

.design-graph-bars .line {
  height: 200px;
}

.line-pos-1 {
  position: absolute;
  left: 25%;
}

.line-pos-2 {
  position: absolute;
  left: 50%;
}

.line-pos-3 {
  position: absolute;
  left: 75%;
}

.dev-skills,
.design-skills {
  height: 100%;
  float: left;
  font-size: 14px;
  text-align: right;
  position: relative;
}

.dev-skills {
  margin-left: 18px;
  padding: 20px;
}

.design-skills {
  padding: 11px 20px 11px 1px;
}

.dev-name,
.design-name {
  margin: 5px 0;
  height: 51px;
}

.container-fluid.about-drops-wrap,
.container-fluid.skills-drops-wrap,
.container-fluid.portfolio-drops-wrap {
  padding-left: 85px;
  padding-right: 85px;
}

.skills-drops-wrap,
.portfolio-drops-wrap {
  position: relative;
}

.portfolio-wrapper {
  width: fit-content;
  margin: 0 auto;
}

a.portfolio-column {
  text-align: center;
  text-align: -moz-center;
  text-decoration: none;
  outline: none;
}

.portfolio-column:hover p {
  color: #3E1C49;
}

.portfolio-column p {
  margin-top: 30px;
  margin-bottom: 40px;
  font-family: RobotoCondensed-Bold;
  font-size: 18px;
  color: #000000;
  text-decoration: none;
}

.portfolio-column .portfolio-logo {
  width: 180px;
  height: 180px;
  align-items: center;
  overflow: hidden;
  border: 3px solid #000000;
  border-radius: 50px;
  display: inline-block;
}

.portfolio-column:hover .portfolio-logo {
  background: #ECE8ED;
  border: 3px solid #3E1C49;
}

.footer-container {
  position: relative;
  padding: 0px 100px 100px;
  background-image: linear-gradient(#6E5577, #3E1C49E5, #3E1C49);
}

.section-wrapper {
  padding: 100px 150px;
  display: flex;
}

.project-section-title {
  vertical-align: top;
}

.project-section-title p {
  margin-bottom: 30px;
  font-family: Kalam-Bold;
  font-size: 24px;
  letter-spacing: 1px;
  color: #474747
}

.row.verbiage {
  max-width: 460px;
}

.verbiage p {
  padding-left: 30px;
  display: inline-block;
  font-family: RobotoCondensed-Regular;
  letter-spacing: 1px;
}

.bullet-point {
  margin-bottom: -41px;
}

.purple-section {
  background-color: #3E1C490C;
}

.section-image {
  margin: 0 auto;
  width: fit-content;
  position: relative;
}

.portfolio-image {
  width: 800px;
  cursor: pointer;
}

.zoom-image {
  position: absolute;
  width: 70px;
  cursor: pointer;
}

.show {
  display: none;
}

.show.active {
  display: block;
}

.show .overlay {
  display: block;
  width: 100%;
  height: 100%;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
}

.show .img-show {
  width: 80%;
  height: 80%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.img-show {
  z-index: 3;
}

.img-show img {
  width: 90%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
}

.close-button {
  width: 40px;
  position: fixed;
  right: 32px;
  top: 32px;
  cursor: pointer;
  opacity: 0.5;
  z-index: 3;
}

.close-button:hover {
  opacity: 1;
}

.padded {
  margin-bottom: 16px;
  margin-left: 3px;
}

.tech-green-bars {
  height: 30px;
  background-color: #1FBBA6B2;
}

.tech-purple-bars {
  height: 30px;
  background-color: #3E1C49B2;
}

#menu-wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
  position: fixed;
  top: 0;
  z-index: 3;
}

#menu {
  margin: 50px 0 0 10px;
  list-style-type: none;
}

#menu a,
#menu p {
  margin-bottom: 0;
  font-family: Kalam-Bold;
  font-size: 20px;
  background-color: #3E1C49;
  color: #fdfdfd;
  letter-spacing: 1px;
  text-decoration: none;
}

#menu a:hover {
  color: #1FBBA6;
}

#scrollable-menu-content {
  padding: 34px 34px 100px;
  position: absolute;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}

#popout-nav {
  margin-right: -375px;
  padding: 0;
  min-width: 375px;
  max-width: 375px;
  min-height: 100vh;
  right: 0;
  z-index: 1;
  position: fixed;
  box-shadow: -3px 0px 10px #00000020;
  background-color: #3E1C49;
  transition: all 0.5s;
}

#popout-nav.active {
  margin-right: 0;
}

#close-menu-button {
  position: relative;
  left: 326px;
  top: 25px;
  background-image: url("../images/close.svg");
  height: 30px;
  width: 30px;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  z-index: 1;
}

#close-menu-button:hover {
  background-image: url("../images/close_hover.svg");
}

#menu-contact a,
#menu-phone-number a,
#menu-gmail a {
  cursor: default;
}

#menu-contact a:hover {
  color: #fdfdfd;
}

#menu-contact {
  padding-bottom: 30px;
}

#menu-contact-information a {
  margin-left: 10px;
  font-family: RobotoCondensed-BoldItalic;
  text-decoration: none;
  vertical-align: middle;
  font-size: 16px;
  outline: none;
  background-color: #3E1C49;
  color: #fdfdfd;
  letter-spacing: 1px;
}

#menu-contact-information img {
  width: 32px;
}

#menu-linkedin p,
#menu-linkedin .menu-logo-hover {
  margin: 0;
  display: inline-block;
  vertical-align: middle;
}

#menu-linkedin .menu-logo-hover {
  margin: 10px 10px 10px 0;
  background-image: url("../images/linkedin_logo_white.svg");
  height: 32px;
  width: 32px;
  background-position: center;
  background-size: cover;
}

#menu-linkedin:hover .menu-logo-hover {
  background-image: url("../images/linkedin_logo_green.svg");
}

#menu-github p,
#menu-github .menu-logo-hover {
  margin: 0;
  display: inline-block;
  vertical-align: middle;
}

#menu-github .menu-logo-hover {
  margin: 10px 10px 10px 0;
  background-image: url("../images/github_logo_white.svg");
  height: 32px;
  width: 32px;
  background-position: center;
  background-size: cover;
}

#menu-github:hover .menu-logo-hover {
  background-image: url("../images/github_logo_green.svg");
}

#menu-linkedin:hover p,
#menu-github:hover p {
  color: #1FBBA6;
}

#menu-phone-number img,
#menu-gmail img,
#menu-linkedin img,
#menu-github img {
  margin: 10px 0 10px 10px;
  vertical-align: middle;
}

#hamburger {
  position: fixed;
  top: 36px;
  right: 36px;
  cursor: pointer;
}

#hamburger #hamburger-hover-state {
  height: 26px;
  width: 26px;
  background-image: url("../images/hamburger_menu_final.svg");
  background-position: center;
  background-size: cover;
}

#hamburger #hamburger-hover-state:hover {
  background-image: url("../images/hamburger_menu_hover.svg");
}

#landing-page {
  background: url("../images/landing_page_image_hills.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100vh;
  min-width: 100%;
  color: #FDFDFD;
  font-family: Kalam-Regular;
}

#landing-title {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  text-align: center;
}

#landing-title img {
  max-width: 100%;
}

#down-arrow {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  bottom: 20px;
}

#down-arrow img {
  height: 28px;
}

#about-section-drops {
  padding-top: 200px;
  padding-bottom: 100px
}

#about-sarah-section {
  position: relative;
  font-family: RobotoCondensed-Regular;
  font-size: 18px;
  letter-spacing: 1px;
  text-align: center;
}

#about-sarah-paragraph-four {
  font-family: RobotoCondensed-BoldItalic;
}

#about-sarah-paragraph-one p,
#about-sarah-paragraph-two p,
#about-sarah-paragraph-three p {
  margin-bottom: 20px;
}

#sarah-signature {
  padding-bottom: 100px;
  text-align: center;
}

#sarah-signature img {
  max-width: 100%;
}

#skills-header-drops {
  position: absolute;
  z-index: -1;
  left: 0px;
  top: 75px;
}

#plant1 {
  margin-top: -52px;
  margin-left: -7.3px;
  position: absolute;
}

#plant2 {
  margin-top: -76px;
  margin-left: -19.3px;
  position: absolute;
}

#plant3 {
  margin-top: -130px;
  margin-left: -32.3px;
  position: absolute;
}

#skills-right-drops {
  position: absolute;
  z-index: -1;
  right: 0px;
  bottom: 0px;
}

#portfolio-header-drops {
  position: absolute;
  z-index: -1;
  top: 115px;
  left: 0px;
}

#portfolio-fitnest-logo,
#portfolio-cnbc-logo {
  margin: 0 auto;
  width: 90px;
}

#portfolio-homepage {
  padding-bottom: 200px;
}

#portfolio-amazon-logo,
#portfolio-medium-logo,
#portfolio-bulk-logo {
  margin: 0 auto;
  width: 145px;
}

#contact-upper-right-drops {
  position: absolute;
  z-index: -1;
  top: -293px;
  right: 0px;
}

#contact-header-drops {
  position: absolute;
  top: 60px;
  left: 5px;
}

#contact-lower-right-drops {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

#footer-contact {
  position: relative;
  z-index: 1;
  display: inline-block;
  font-family: RobotoCondensed-Italic;
  color: #fdfdfd;
  font-size: 20px;
  letter-spacing: 1px;
}

#footer-phone-number img,
#footer-gmail img {
  margin: 10px 10px 10px 0;
  display: inline-block;
}

#footer-phone-number p,
#footer-gmail p {
  cursor: default;
  display: inline-block;
}

#footer-linkedin img,
#footer-github img {
  vertical-align: middle;
}

#footer-linkedin p,
#footer-linkedin .footer-logo-hover {
  margin: 0;
  display: inline-block;
  vertical-align: middle;
}

#footer-linkedin .footer-logo-hover {
  margin: 10px 10px 10px 0;
  background-image: url("../images/linkedin_logo_white.svg");
  height: 38px;
  width: 38px;
  background-position: center;
  background-size: cover;
}

#footer-linkedin:hover .footer-logo-hover {
  background-image: url("../images/linkedin_logo_green.svg");
}

#footer-linkedin,
#footer-github {
  color: #fdfdfd;
  text-decoration: none;
  outline: none;
}

#footer-github p,
#footer-github .footer-logo-hover {
  margin: 0;
  display: inline-block;
  color: #FDFDFD;
  vertical-align: middle;
}

#footer-github .footer-logo-hover {
  margin: 10px 10px 10px 0;
  background-image: url("../images/github_logo_white.svg");
  height: 38px;
  width: 38px;
  background-position: center;
  background-size: cover;
}

#footer-github:hover .footer-logo-hover {
  background-image: url("../images/github_logo_green.svg");
}

#resume-link {
  margin: 100px 0 50px 0;
}

#resume-link a {
  margin: 100px 0 50px 0;
  font-family: RobotoCondensed-BoldItalic;
  font-size: 20px;
  color: #FDFDFD;
  letter-spacing: 1px;
}

#resume-link a:hover,
#footer-linkedin:hover p,
#footer-github:hover p {
  color: #1FBBA6;
  text-decoration: none;
}

#footer-copyright p {
  margin: 0;
  margin-top: 100px;
  font-family: RobotoCondensed-Italic;
  font-size: 12px;
  color: #fdfdfd;
}

#page-header {
  padding: 30px 100px;
  font-family: Kalam-Bold;
  position: relative;
  font-size: 32px;
  color: #474747;
}

#page-header p {
  margin: 0;
}

#project-header-drops {
  position: absolute;
  z-index: -1;
  top: 0px;
  left: 0px;
}

#overview-info-wrapper {
  display: inline-flex;
  width: 100%;
}

#overview-information {
  margin: 0 auto;
}

#image-wrapper {
  margin: 0 auto;
}

#amazon-zoom-image {
  right: 0;
  bottom: 0;
}

#fitnest-zoom-image {
  right: -10px;
  bottom: 130px;
}

#fitnest-image2 {
  width: 800px;
  display: block;
  cursor: pointer;
}

#fitnest-zoom-image2 {
  position: absolute;
  right: 90px;
  bottom: 40px;
  width: 70px;
  cursor: pointer;
}

#cnbc-zoom-image {
  right: -10px;
  bottom: 10px;
}

#medium-zoom-image {
  right: 10px;
  bottom: 70px;
}

#bulk-zoom-image {
  right: -20px;
  bottom: 30px;
}

#tech-section-wrapper {
  padding: 100px 150px;
  display: block;
}

#tech-used-flex-wrapper,
#tech-used-names,
#tech-used-bars {
  display: flex;
}

#tech-graph-wrapper {
  width: 100%;
  flex: 1;
}

#tech-graph {
  font-family: RobotoCondensed-Regular;
  margin-left: 100px;
}

#tech-used-names {
  text-align: center;
}

#fitnest-figma,
#fitnest-figma-bar {
  width: 15%;
}

#fitnest-html,
#fitnest-html-bar,
#fitnest-css,
#fitnest-css-bar {
  width: 42.5%;
}

#cnbc-figma,
#medium-figma,
#bulk-figma,
#cnbc-figma-bar,
#medium-figma-bar,
#bulk-figma-bar {
  width: 20%;
}

#cnbc-afphoto,
#medium-afphoto,
#bulk-afphoto,
#cnbc-afphoto-bar,
#medium-afphoto-bar,
#bulk-afphoto-bar {
  width: 16%;
}

#cnbc-html,
#medium-html,
#bulk-html,
#cnbc-html-bar,
#medium-html-bar,
#bulk-html-bar,
#cnbc-css,
#medium-css,
#bulk-css,
#cnbc-css-bar,
#medium-css-bar,
#bulk-css-bar {
  width: 32%;
}

#amazon-figma,
#amazon-figma-bar {
  width: 22%;
}

#amazon-afphoto,
#amazon-afphoto-bar {
  width: 18%;
}

#amazon-html,
#amazon-html-bar,
#amazon-css,
#amazon-css-bar {
  width: 30%;
}

#tech-graph-line1,
#tech-graph-line2 {
  border-left: 2px solid #000;
  border-right: 2px solid #000;
}

#tech-graph-line1 {
  height: 10px;
}

#tech-graph-line2 {
  border-top: 2px solid #000;
  height: 12px;
}

#tech-graph-duration {
  text-align: center;
}

#key-take-aways-section {
  margin: 0 auto;
}

#marketing-button {
  display: inline-block;
}

@media (max-width: 1400px) {

  .section-wrapper,
  #overview-info-wrapper {
    display: block;
  }

  .project-section-title {
    margin-bottom: 50px;
  }

  #tech-used-flex-wrapper {
    flex-wrap: wrap;
  }

  #tech-graph-wrapper {
    flex: 81%
  }

  #tech-graph {
    margin-left: 0;
  }
}

@media (max-width: 1050px) {
  .graph-wrap {
    max-width: 100%;
  }

  .design-graph-wrap {
    max-width: 100%;
  }

  .section-wrapper,
  #tech-section-wrapper {
    padding: 100px;
  }

  .section-image img {
    max-width: 100%;
  }

  .portfolio-image {
    width: 600px;
  }

  .source-code {
    text-align: center;
  }

  #medium-zoom-image {
    right: 0px;
    bottom: 40px;
  }
}

@media (max-width: 850px) {
  .section-header-title {
    font-size: 30px;
  }

  .button-view-full-design {
    padding: 50px 0 0 0;
    display: block;
  }

  .zoom-image {
    width: 50px;
  }

  #bulk-zoom-image {
    right: -10px;
    bottom: 20px;
  }
}

@media (max-width: 615px) {

  .container-fluid.about-drops-wrap,
  .container-fluid.skills-drops-wrap,
  .container-fluid.portfolio-drops-wrap {
    padding-left: 25px;
    padding-right: 25px;
  }

  .dev-skills,
  .design-skills {
    z-index: 1;
    font-size: 12px;
    position: absolute;
    text-align: left;
    color: #fdfdfd;
    letter-spacing: .5px;
  }

  .dev-skills {
    margin-left: 0px;
    padding: 23px 8px;
  }

  .design-skills {
    padding: 15px 20px 11px 8px;
  }

  .footer-container {
    padding: 0px 40px 100px;
  }

  .zoom-image {
    width: 30px;
  }

  .section-wrapper,
  #tech-section-wrapper {
    padding: 100px 40px;
  }

  #plant1 {
    margin-left: -4.3px;
  }

  #plant1 img {
    width: 11px;
  }

  #plant2 {
    margin-left: -13.3px;
  }

  #plant2 img {
    width: 20px;
  }

  #plant3 {
    margin-left: -27.3px;
  }

  #plant3 img {
    width: 75px;
  }

  #page-header {
    padding: 30px 40px;
  }

  #overview-information,
  #key-take-aways-section {
    padding-left: 15px;
  }

  #medium-zoom-image {
    right: 10px;
    bottom: 50px;
  }

  #cnbc-zoom-image {
    right: 0px;
    bottom: 20px;
  }
}

@media (max-width: 560px) {

  .button-1,
  .button-2,
  .button-3 {
    padding: 12px 18px;
    font-size: 18px;
  }

  #page-header {
    font-size: 30px;
  }

  #page-header p {
    padding-right: 40px;
  }

  #footer-contact a {
    font-size: 16px;
  }

  #footer-phone-number img,
  #footer-gmail img {
    margin: 10px 8px 10px 0;
    height: 30px;
  }

  #footer-phone-number,
  #footer-gmail {
    font-size: 16px;
  }

  #footer-github .footer-logo-hover,
  #footer-linkedin .footer-logo-hover,
  #footer-github:hover .footer-logo-hover,
  #footer-linkedin:hover .footer-logo-hover {
    margin: 10px 8px 10px 0;
    height: 30px;
    width: 30px;
  }

  #medium-zoom-image {
    right: 10px;
    bottom: 40px;
  }

  #bulk-zoom-image {
    right: -10px;
    bottom: 10px;
  }

  #cnbc-zoom-image {
    right: 0px;
    bottom: 10px;
  }

  #tech-graph {
    font-size: 14px;
  }
}


@media (max-width: 450px) {
  .zoom-image {
    width: 20px;
  }

  #medium-zoom-image {
    right: 5px;
    bottom: 30px;
  }

  #bulk-zoom-image {
    right: -10px;
    bottom: 10px;
  }
}