@font-face {
  font-family: Great_Vibes;
  src: url(../fonts/Great_Vibes/GreatVibes-Regular.ttf);
}

@font-face {
  font-family: Kalam-Bold;
  src: url(../fonts/Kalam/Kalam-Bold.ttf);
}

@font-face {
  font-family: Kalam-Regular;
  src: url(../fonts/Kalam/Kalam-Regular.ttf);
}

@font-face {
  font-family: RobotoCondensed-Regular;
  src: url(../fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf);
}

@font-face {
  font-family: RobotoCondensed-Italic;
  src: url(../fonts/Roboto_Condensed/RobotoCondensed-Italic.ttf);
}

@font-face {
  font-family: RobotoCondensed-Bold;
  src: url(../fonts/Roboto_Condensed/RobotoCondensed-Bold.ttf);
}

@font-face {
  font-family: RobotoCondensed-BoldItalic;
  src: url(../fonts/Roboto_Condensed/RobotoCondensed-BoldItalic.ttf);
}
