@font-face {
  font-family: Great_Vibes;
  src: url(../fonts/Great_Vibes/GreatVibes-Regular.ttf);
}

@font-face {
  font-family: Kalam-Bold;
  src: url(../fonts/Kalam/Kalam-Bold.ttf);
}

@font-face {
  font-family: Kalam-Regular;
  src: url(../fonts/Kalam/Kalam-Regular.ttf);
}

@font-face {
  font-family: RobotoCondensed-Regular;
  src: url(../fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf);
}

@font-face {
  font-family: RobotoCondensed-Italic;
  src: url(../fonts/Roboto_Condensed/RobotoCondensed-Italic.ttf);
}

@font-face {
  font-family: RobotoCondensed-Bold;
  src: url(../fonts/Roboto_Condensed/RobotoCondensed-Bold.ttf);
}

@font-face {
  font-family: RobotoCondensed-BoldItalic;
  src: url(../fonts/Roboto_Condensed/RobotoCondensed-BoldItalic.ttf);
}

.menu-wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
  position: fixed;
  top: 0;
  z-index: 1;
}

a[data-toggle="collapse"] {
  position: fixed;
}

.menu-items {
  margin: 50px 0 0 10px;
  list-style-type: none;
}

.menu-items a {
  font-family: Kalam-Bold;
  font-size: 20px;
  background-color: #3E1C49;
  color: #fdfdfd;
  letter-spacing: 1px;
  text-decoration: none;
}

.menu-items a:hover {
  color: #1FBBA6;
}

.menu-option {
  padding-bottom: 30px;
}

.three-dots {
  padding: 180px 0;
  clear: both;
  text-align: center;
}

.three-dots-footer {
  padding-top: 180px;
  clear: both;
  text-align: center;
}

.section-header-title {
  margin: 0;
  padding: 0;
  font-family: Kalam-Bold;
  font-size: 40px;
  color: #474747;
}

.section-header-green-line {
  margin-bottom: 100px;
  height: 3px;
  width: 100px;
  background: #1FBBA6;
}

.menu-green-line {
  margin: 30px 0;
  height: 2px;
  width: 100px;
  background: #1FBBA6;
}

.portfolio-column {
  text-align: center;
}

.portfolio-column a {
  margin: 15px;
  padding: 50px 10px;
  width: 180px;
  height: 180px;
  overflow: hidden;
  font-family: RobotoCondensed-Bold;
  font-size: 24px;
  color: #3E1C49;
  border: 4px solid #3E1C49;
  display: inline-block;
  text-decoration: none;
}

.portfolio-column a:hover {
  color: #1FBBA6;
  border: 4px solid #1FBBA6;
}

.footer-small-swish {
  position: relative;
  clear: both;
  top: 65px;
  right: 36px;
  z-index: -1;
}

.footer-large-swish {
  position: relative;
  margin-bottom: -210px;
  bottom: 210px;
  left: 36px;
  z-index: -1;
  float: right;
}

.footer-container {
  padding-top: 46px;
}

.section-header-top-margin {
  margin-top: 100px;
}

.section-image {
  width: 100%;
  margin: auto;
  text-align: center
}

.section-image img {
  max-width: 100%;
  cursor: pointer
}

.show {
  z-index: 999;
  display: none;
}

.show.active {
  display: block;
}

.show .overlay {
  width: 100%;
  height: 100%;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
}

.show .img-show {
  width: 90%;
  height: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.img-show img {
  width: 80%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
}

.close-button {
  width: 40px;
  position: fixed;
  right: 32px;
  top: 32px;
  cursor: pointer;
  opacity: 0.5;
  z-index: 1;
}

.close-button:hover {
  opacity: 1;
}

.section-header p {
  margin-bottom: 100px;
  font-family: RobotoCondensed-Bold;
  font-size: 24px;
  letter-spacing: 1px;
  text-align: center;
}

.section-information p {
  font-family: RobotoCondensed-Regular;
  font-size: 18px;
  letter-spacing: 1px;
}

.section-information {
  align-self: center;
}

.source-code {
  margin-top: 50px;
}

.source-code a {
  padding: 8px;
  font-family: RobotoCondensed-Bold;
  font-size: 20px;
  color: #3E1C49;
  border: 2.5px solid #3E1C49;
  text-decoration: none;
}

.source-code a:hover {
  color: #1FBBA6;
  border: 4px solid #1FBBA6;
}

#about-sarah-paragraph-one p,
#portfolio-homepage p {
  padding-top: 40px;
}

#entire-page-wrapper {
  padding: 36px;
}

#scrollable-menu-content {
  position: absolute;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}

#popout-nav {
  margin-right: -375px;
  padding: 0;
  min-width: 375px;
  max-width: 375px;
  min-height: 100vh;
  right: 0;
  z-index: 1;
  position: fixed;
  box-shadow: -3px 0px 10px #00000020;
  background-color: #3E1C49;
  transition: all 0.5s;
}

#popout-nav.active {
  margin-right: 0;
}

#menu-contact a,
#menu-phone-number a,
#menu-gmail a {
  cursor: default;
}

#menu-contact a:hover {
  color: #fdfdfd;
}

#menu-contact {
  padding-bottom: 30px;
}

#menu-contact-information a {
  margin-left: 10px;
  font-family: RobotoCondensed-BoldItalic;
  text-decoration: none;
  vertical-align: middle;
  font-size: 16px;
  background-color: #3E1C49;
  color: #fdfdfd;
  letter-spacing: 1px;
}

#menu-contact-information a:hover {
  color: #1FBBA6;
}

#menu-contact-information img {
  width: 32px;
}

#menu-phone-number a:hover,
#menu-gmail a:hover {
  color: #fdfdfd;
}

#menu-contact-information li {
  list-style-type: none;
}

#menu-phone-number img,
#menu-gmail img,
#menu-linkedin img,
#menu-github img {
  margin: 10px 0 10px 10px;
  vertical-align: middle;
}

#resume-download {
  padding: 60px 0 30px 0;
}

#resume-download a {
  font-size: 18px;
}

#hamburger {
  width: 26px;
  position: fixed;
  top: 36px;
  right: 36px;
  cursor: pointer;
}

#landing-page {
  background: url(../images/landing_page_image_hills.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100vh;
  min-width: 100%;
  color: #FDFDFD;
  font-family: Kalam-Regular;
}

#landing-title {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  text-align: center;
}

#landing-title img {
  max-width: 100%;
}

#down-arrow {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  bottom: 20px;
}

#down-arrow img {
  height: 28px;
}

#three-dots-after-landing {
  padding: 180px 0 60px 0;
  text-align: center;
}

#about-sarah-section {
  position: relative;
  font-family: RobotoCondensed-Regular;
  font-size: 18px;
  letter-spacing: 1px;
  text-align: center;
}

#about-sarah-paragraph-four {
  font-family: RobotoCondensed-BoldItalic;
}

#about-sarah-paragraph-one p,
#about-sarah-paragraph-two p,
#about-sarah-paragraph-three p {
  margin-bottom: 20px;
}

#sarah-signature {
  padding: 100px 0 140px 0;
  text-align: center;
}

#sarah-signature img {
  max-width: 100%;
}

#footer-contact a {
  font-family: RobotoCondensed-Italic;
  text-decoration: none;
  vertical-align: middle;
  color: #474747;
  font-size: 20px;
  letter-spacing: 1px;
}

#footer-contact a:hover {
  color: #000;
}

/* ul#footer-contact {
  padding-left: 36px;
} */

#footer-contact li {
  list-style-type: none;
}

#footer-phone-number img,
#footer-gmail img,
#footer-linkedin img,
#footer-github img {
  margin: 10px 10px 10px 0;
  vertical-align: middle;
}

#footer-phone-number a:hover,
#footer-gmail a:hover {
  cursor: default;
  color: #474747;
}

#resume-link {
  margin: 100px 0 50px 0;
}

#resume-link a {
  margin: 100px 0 50px 0;
  font-family: RobotoCondensed-BoldItalic;
  font-size: 20px;
  color: #474747;
  letter-spacing: 1px;
}

#resume-link a:hover {
  color: #000;
  text-decoration: none;
}

#footer-copyright p {
  margin: 100px 0 50px 0;
  font-family: RobotoCondensed-Italic;
  font-size: 12px;
}

#page-header {
  padding: 21px 15px 0px;
  font-family: Kalam-Bold;
  font-size: 40px;
  color: #474747;
}

@media (orientation: portrait) and (max-width: 450px) {
  .section-header-title {
    font-size: 35px;
  }

  .footer-container {
    padding: 46px 0 0;
  }

  #page-header {
    padding: 0;
    font-size: 35px;
  }

  #hamburger {
    top: 46px;
    width: 24px;
  }

  #footer-contact a {
    font-size: 18px;
  }

  #footer-phone-number img,
  #footer-gmail img,
  #footer-linkedin img,
  #footer-github img {
    height: 32px;
  }

  ul#footer-contact {
    padding-left: 0px;
  }
}

@media (orientation: portrait) and (max-width: 1000px) {
  .verbiage {
    padding: 50px 25px 0;
    text-align: center;
  }

  .source-code {
    text-align: center;
  }
}

@media (orientation: landscape) and (max-width: 850px) {
  .section-header-title {
    font-size: 35px;
  }

  .footer-container {
    padding: 46px 0 0 0;
  }

  .section-image img {
    max-width: 80%;
  }

  #page-header {
    padding: 0;
    font-size: 35px;
  }

  #hamburger {
    top: 46px;
    width: 24px;
  }
}

@media (orientation: landscape) and (max-width: 1000px) {
  .verbiage {
    padding: 50px 50px 0;
    text-align: center;
  }

  .source-code {
    text-align: center;
  }
}
